td,th{
    height:50px;
    width:209px;
    text-align: center;
}
table,tr,th,td{
    border:1px solid gainsboro;
}

.icons{
    height:20px;
    width:20px;
    margin-right:10px;
    cursor: pointer;
}
table{
    margin-bottom:8px;
}

.delete-btn{
    width:150px;
    height:55px;
    border-radius:20px;
    padding:10px;
    border:none;
    background-color: tomato;
    color:whitesmoke;
    margin-bottom:10px;
    cursor: pointer;
    font-size:15px;
}

.pagination-bar{
    border: 1px solid gainsboro;
    margin-top:15px;
    border-radius:10px;
}

.pagination-bar:hover{
    border:1px solid rgba(0,0,0,0.87);
}

.check-box{
    padding:20px;
    }

    @media (max-width:576px){
        td,th{
            /* height:75px; */
            width:50vh;
            text-align: center;
        }
        .pagination-bar{
            border: none;
        }
    }